.wrapper {
	/* display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; */
	padding-top: 30px;
	padding-bottom: 30px;
}

.title {
	margin-bottom: 20px;
}

.btn {
	margin-bottom: 12px;
}

.arc-length {
	margin-bottom: 30px;
}

.arc-length__result {
	min-height: 100px;
}

.circle-radius__result {
	min-height: 55px;
}

@media (max-width: 450px) {
	.wrapper {
		padding-top: 20px;
	}
}